$main-color: rgb(7, 100, 84);

.main-page {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    & > .img {
        width: 40%;
    }
}

.gblcbk {
    border: 3px solid black !important;
    cursor: grab;
    opacity: 0.4;
    &:active {
        cursor: grabbing;
    }
}

.resizable-handler {
    border: 2px solid $main-color;
    border-radius: 50% !important;
    background-color: white;
}